<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <header class="bg-dark text-white mx-4 mb-2 pb-3">
            <nav>
                <a href="/" class="text-white">Home</a>
                {{#if loggedIn}}
                <a href="/dashboard" class="text-white">Dashboard</a>
                <button id="logout" class="btn-no-style btn-dark text-white">Logout</button>
                {{else}}
                <a href="/login" class="text-white">Login</a>
                {{/if}}
            </nav>
            <h1>
                <a href="/" class="text-white">The Tech Blog</a>
            </h1>
        </header>
        <main class="mx-4">
        {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>