<section>
    <div class="card">
        <div class="card-header">Create New Post</div>
        <div class="card-body">
            <form class="post-form">
                <div>
                    <label for="post-title" class="form-label">Title</label>
                    <input type="text" id="post-title" name="post-title" class="form-control" value="{{post.title}}" />
                </div>
                <div>
                    <label for="post-content" class="form-label">Content</label>
                    <textarea id="post-content" name="post-content" class="form-control">{{post.content}}</textarea>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="/javascript/create-post.js"></script>