{{#if posts.length}}
<section>
  <ol>
    {{#each posts as |post|}}
    <li>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">{{post.title}}</a>
    </li>
    {{/each}}
  </ol>
  <a href="/dashboard/create">+ New Post</a>
</section>
{{/if}}