{{#if posts.length}}
<section>
  <ol class="list-unstyled">
    {{#each posts as |post|}}
    <li>
      <div class="card-header">
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">{{post.title}}</a>
      </div>
    </li>
    {{/each}}
  </ol>
  <a href="/dashboard/create">+ New Post</a>
</section>
{{/if}}