<article>
  <div class="card">
    <div class="card-header">Edit Post</div>
    <div class="card-body">
      <form class="edit-post-form">
        <div>
          <label for="post-title" class="form-label">Title</label>
          <input type="text" id="post-title" name="post-title" class="form-control" value="{{post.title}}"/>
        </div>
        <div>
          <label for="post-content" class="form-label">Content</label>
          <textarea id="post-content" name="post-content" class="form-control">{{post.content}}</textarea>
        </div>  
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Update post</button>
          <button type="button" class="delete-post-btn btn btn-primary">Delete post</button>
        </div>  
      </form>
    </div>
  </div>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>