<div class="card">
    <div class="card-header">Signup</div>
    <div class="card-body">
        <form class="signup-form">
            <div>
                <label for="username-signup" class="form-label">Username:</label>
                <input type="text" id="username-signup" class="form-control" />
            </div>
            <div>
                <label for="password-signup" class="form-label">Password:</label>
                <input type="password" id="password-signup" class="form-control" />
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Signup</button>
            </div>
            <div>
                <a href="/login">Login instead</a>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/signup.js"></script>